<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Score</title>
    <link rel="stylesheet" href="../static/score.css">
</head>
<body>
     <div class="bday-card">

      <!-- Top part of the card: image + decorations -->
      <div class="bday-decor--container">

        <div class="bday-pic ">
          <img src="../static/45221587892_df3f8bdb63_o.jpg">
        </div>

        <p class="bday-decor bday-decor--top-right float">🎈</p>
        <p class="bday-decor bday-decor--top-left spin">🌼</p>

      </div>


      <!-- Banner -->
      <h1 class="bday-banner">
        <span>Your Score...</span> <span>{{data[0]}}%</span>
      </h1>

       <!-- Message + decoration -->
      <div class="bday-message bday-message--paper">
        <p>{{data[1]}}<br> ps TheHolyLemonLord</p>
        <p class="bday-decor bday-decor--bottom-right zoom-left-in-out">🎉</p>
      </div>
       <li><a href="/"> Home </a></li>
    </div>



</body>
</html>